<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="shop.domain.ProductVO" alias="Product"/>
		<typeAlias type="shop.domain.CategoryVO" alias="Category"/>
		<typeAlias type="shop.domain.CartVO" alias="Cart"/>
	</typeAliases>
	<environments default="MyDBCP">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE" />
				<property name="username" value="myshop" />
				<property name="password" value="tiger" />
			</dataSource>
		</environment>
		<environment id="MyDBCP">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/myshop" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="common/mapper/SampleMapper.xml" />
		<mapper resource="common/mapper/ProductMapper.xml" />
		<mapper resource="common/mapper/CartMapper.xml" />
	</mappers>
</configuration>